@import 'https://use.fontawesome.com/releases/v5.0.7/css/all.css';
@import "../node_modules/c3/c3.min.css";
a {
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}